.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: gold;
}

.btn--specialAnimation {
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn--specialAnimation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn--specialAnimation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(45deg, rgb(7, 14, 23), rgb(6, 13, 22));
}

.top-bar .burger-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  border-radius: 15px;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.65), rgba(5, 9, 14, 0.8));
  cursor: pointer;
  z-index: 1000;
}
.top-bar .burger-btn:hover .burger-btn__bars,
.top-bar .burger-btn:hover .burger-btn__bars::before,
.top-bar .burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}
.top-bar .burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.top-bar .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.top-bar .burger-btn__bars, .top-bar .burger-btn__bars::before, .top-bar .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #e7ecef;
  transition: width 0.3s;
}
.top-bar .burger-btn__bars {
  width: 100%;
}
.top-bar .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.top-bar .burger-btn__bars::before {
  top: 27px;
  width: 30%;
}
.top-bar .logo img {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
  z-index: 100;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(7, 14, 23, 0.98), rgba(6, 13, 22, 0.96));
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  text-decoration: none;
  color: #e7ecef;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  content: "";
  background-color: #e7ecef;
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@-webkit-keyframes navItemsAnimation {
  from {
    transform: translateX(800%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(800%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  color: #e7ecef;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7)), url("../img/header_640.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  padding: 3em;
  border: 1px solid #e7ecef;
  border-radius: 15px;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.65), rgba(5, 9, 14, 0.8));
}
.header__heading {
  font-size: 4.8rem;
  letter-spacing: 1px;
}
.header__text {
  font-size: 2.6rem;
  letter-spacing: 1px;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background-color: #e7ecef;
  border: none;
  border-radius: 8px;
  color: #274c77;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #d0d6d9;
}
.header__circleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.3em;
  margin: 0 5em;
  width: 180px;
  height: 180px;
}
.header__circleBox--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border: 0.5px solid #e7ecef;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #e7ecef;
}
.header__circleBox--circle--smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 0.5px solid #e7ecef;
  border-radius: 50%;
}
.header__circleBox--circle--smaller .fa-circle-down {
  font-size: 5rem;
  color: #e7ecef;
}

@media (min-width: 320px) {
  .header {
    height: 100vh;
  }
  .header__heading {
    font-size: 2.4rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__btn {
    font-size: 1.2rem;
  }
  .header__box {
    padding: 2em;
    margin: 2em;
  }
  .header__circleBox--circle {
    height: 100px;
    width: 100px;
  }
  .header__circleBox--circle--smaller {
    height: 70px;
    width: 70px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 4rem;
    color: #e7ecef;
  }
  .nav__item {
    font-size: 2.4rem;
  }
}
@media (min-width: 375px) {
  .header {
    height: 100vh;
  }
  .header__heading {
    font-size: 2.8rem;
  }
  .header__btn {
    font-size: 1.4rem;
  }
  .header__box {
    padding: 2.5em;
    margin: 2.5em;
  }
}
@media (min-width: 768px) {
  .side-block {
    height: 50px;
    width: 45%;
  }
  .header {
    height: 100vh;
  }
  .header__heading {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .header__box {
    padding: 3.6em;
  }
  .header__circleBox--circle {
    height: 120px;
    width: 120px;
  }
  .header__circleBox--circle--smaller {
    height: 90px;
    width: 90px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 5rem;
    color: #e7ecef;
  }
  .top-bar .burger-btn {
    top: 50px;
    right: 50px;
  }
  .top-bar .logo img {
    top: 50px;
    left: 50px;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 60px;
    right: 60px;
  }
  .logo {
    top: 60px;
    right: 60px;
  }
  .header {
    height: 95vh;
    background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7)), url("../img/header_1920.jpeg");
  }
  .header__heading {
    font-size: 4.6rem;
  }
}
@media (min-width: 1024px) {
  .header__heading {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .header__btn {
    font-size: 2rem;
  }
  .header__box {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */