.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.btn--specialAnimation {
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn--specialAnimation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn--specialAnimation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #8db1db;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(45deg, rgb(12, 24, 39), rgb(12, 23, 41));
  color: #e7ecef;
}

hr {
  margin-bottom: 60px;
  color: #e7ecef;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.top-bar .burger-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 1em;
  background: none;
  border: 1px solid #e7ecef;
  border-radius: 15px;
  background-image: linear-gradient(45deg, rgb(6, 13, 20), rgb(5, 9, 14));
  cursor: pointer;
  z-index: 1000;
}
.top-bar .burger-btn:hover .burger-btn__bars,
.top-bar .burger-btn:hover .burger-btn__bars::before,
.top-bar .burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}
.top-bar .burger-btn:focus {
  outline: none;
}
.top-bar .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.top-bar .burger-btn__bars, .top-bar .burger-btn__bars::before, .top-bar .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #e7ecef;
  transition: width 0.3s;
}
.top-bar .burger-btn__bars {
  width: 100%;
}
.top-bar .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.top-bar .burger-btn__bars::before {
  top: 27px;
  width: 30%;
}
.top-bar .logo img {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: rotate(0);
  transition: transform 5s linear;
  z-index: 100;
}
.top-bar .logo img:hover {
  transform: rotate(360deg);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(7, 14, 23, 0.98), rgba(6, 13, 22, 0.96));
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.7em 2em;
  font-size: 2.2rem;
  text-decoration: none;
  color: #e7ecef;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  content: "";
  background-color: #e7ecef;
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scaleY(1);
}
.nav__line {
  padding: 0;
  height: 1px;
  width: 100%;
  background-color: #e7ecef;
}
.nav__line--up {
  margin-bottom: 1em;
}
.nav__line--down {
  margin-top: 1em;
}

@-webkit-keyframes navItemsAnimation {
  from {
    transform: translateX(800%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(800%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  color: #e7ecef;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7)), url("../img/header_640.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
  z-index: 5;
}
.header__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border: 1px solid #e7ecef;
  border-radius: 15px;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.7), rgba(5, 9, 14, 0.8));
}
.header__heading {
  font-size: 4.8rem;
  letter-spacing: 1px;
}
.header__text {
  font-size: 2.6rem;
  letter-spacing: 1px;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background-color: #e7ecef;
  border: none;
  border-radius: 15px;
  color: rgb(12, 23, 41);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #d0d6d9;
}
.header__circleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 180px;
  height: 180px;
}
.header__circleBox--circle {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__circleBox--circle--smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e7ecef;
  border-radius: 50%;
  box-shadow: 0 0 2px #e7ecef;
}
.header__circleBox--circle--smaller .fa-circle-down {
  font-size: 5rem;
  color: #e7ecef;
  transition: color 0.3s linear;
}
.header__circleBox--circle--smaller .fa-circle-down:hover {
  color: rgb(25, 86, 138);
}

.aboutus__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.aboutus__box--icons {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.aboutus__img {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #e7ecef;
  border-radius: 15px;
}
.aboutus__title {
  margin-bottom: 0.5em;
  color: #366eae;
}
.aboutus__title--icons {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #366eae;
}
.aboutus__text {
  font-size: 1.2rem;
  font-weight: 100;
}
.aboutus__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.aboutus__icon {
  margin-top: 1em;
  width: 33%;
}
.aboutus__icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #e7ecef;
  margin: 0 1em;
}
.aboutus__icon a i {
  color: #e7ecef;
  margin-bottom: 0.5em;
  font-size: 5rem;
  transition: color 0.3s;
}
.aboutus__icon a p {
  font-size: 2.4rem;
  transition: color 0.3s;
}
.aboutus__icon:hover i, .aboutus__icon:hover p {
  color: #8db1db;
}

.pricing {
  position: relative;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7)), url("../img/dj_1920.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.pricing .section-heading {
  color: #8db1db;
}
.pricing__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  background-image: linear-gradient(45deg, rgb(12, 24, 39), rgb(12, 23, 41));
  border: 1px solid #e7ecef;
  border-radius: 15px;
  overflow: hidden;
}
.pricing__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.pricing__option-img:hover {
  transform: scale(1.1);
}
.pricing__option-info {
  width: 50%;
  padding: 2em;
  background-image: linear-gradient(45deg, rgb(12, 24, 39), rgb(12, 23, 41));
  z-index: 10;
}
.pricing__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: bold;
}
.pricing__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: #e7ecef;
}
.pricing__option-btn {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  color: rgb(12, 23, 41);
  background-color: rgb(25, 86, 138);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.pricing__option-btn::before {
  background-color: rgb(42, 95, 142);
}

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}
.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border: 1px solid #e7ecef;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.498), inset 1px 1px 2px #e7ecef;
  cursor: pointer;
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(0.95);
}
.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: rgb(25, 86, 138);
}
.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
}

.contact {
  position: relative;
  background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7));
  overflow: hidden;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 15px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 15px;
  font-size: 1.6rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: rgb(12, 23, 41);
  border: none;
  border-radius: 15px;
  background-color: #e7ecef;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #d0d6d9;
}

.footer {
  color: #e7ecef;
  background-color: linear-gradient(45deg, rgb(12, 24, 39), rgb(12, 23, 41));
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-title i {
  margin-right: 1em;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #e7ecef;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #8db1db;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}
.footer__hr {
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .header__heading {
    font-size: 2.4rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__btn {
    font-size: 1.2rem;
  }
  .header__box {
    padding: 2em;
  }
  .header__circleBox--circle {
    height: 80px;
    width: 80px;
  }
  .header__circleBox--circle--smaller {
    height: 60px;
    width: 60px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 4rem;
    color: #e7ecef;
  }
  .nav__item {
    font-size: 2.4rem;
  }
  .aboutus__icon a i {
    font-size: 4rem;
  }
  .aboutus__icon a p {
    font-size: 0.8rem;
  }
  .aboutus__title--icons {
    font-size: 1.6rem;
  }
}
@media (min-width: 375px) {
  .header__heading {
    font-size: 2.8rem;
  }
  .header__btn {
    font-size: 1.4rem;
  }
  .header__box {
    padding: 2em 2.5em;
    margin: 2.5em;
  }
}
@media (min-width: 576px) {
  .aboutus__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutus__box-text {
    width: 55%;
  }
  .aboutus__box-text--right {
    text-align: right;
  }
  .aboutus__box-img {
    width: 40%;
  }
  .aboutus__box-img--right {
    order: 1;
  }
  .aboutus__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .pricing__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .pricing__option-img {
    margin: 0;
    max-width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pricing__option-img--right {
    order: 1;
    justify-self: flex-end;
  }
  .pricing__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pricing__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .pricing__option-btn {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .header__box {
    padding: 3em 4em;
  }
  .header__circleBox--circle {
    height: 100px;
    width: 100px;
  }
  .header__circleBox--circle--smaller {
    height: 75px;
    width: 75px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 5rem;
    color: #e7ecef;
  }
  .header .side-block {
    display: block;
  }
  .top-bar .burger-btn {
    top: 50px;
    right: 50px;
  }
  .top-bar .burger-btn__box {
    width: 60px;
    height: 50px;
  }
  .top-bar .burger-btn__bars::after {
    top: 22px;
    width: 60%;
  }
  .top-bar .burger-btn__bars::before {
    top: 45px;
    width: 30%;
  }
  .top-bar .logo img {
    top: 50px;
    left: 50px;
    height: 80px;
    width: 80px;
  }
  .nav__item {
    font-size: 3.6rem;
  }
  .aboutus__text {
    font-size: 1.8rem;
  }
  .aboutus__icon a i {
    font-size: 5rem;
  }
  .aboutus__icon a p {
    font-size: 1.6rem;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-around;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer_box {
    margin: 0 2em;
    width: 25%;
  }
  .footer_box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-title i {
    margin-right: 1em;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 60px;
    right: 60px;
  }
  .logo {
    top: 60px;
    right: 60px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(6, 13, 20, 0.4), rgba(5, 9, 14, 0.7)), url("../img/header_1920.jpeg");
  }
  .header__heading {
    font-size: 4.6rem;
  }
  .aboutus__box {
    margin: 5em 0;
  }
  .aboutus__box--text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .aboutus__title {
    font-size: 3.6rem;
  }
  .aboutus__text {
    font-size: 2.2rem;
  }
  .pricing__option-img {
    max-width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pricing__option-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .header__heading {
    font-size: 4.6rem;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__btn {
    font-size: 2rem;
  }
  .header__box {
    position: relative;
    bottom: 1em;
    padding: 3em 5em;
  }
  .header__circleBox--circle--smaller {
    height: 100px;
    width: 100px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 6rem;
    color: #e7ecef;
  }
  .top-bar .burger-btn {
    top: 50px;
    right: 50px;
  }
  .top-bar .burger-btn__box {
    width: 60px;
    height: 50px;
  }
  .top-bar .burger-btn__bars::after {
    top: 22px;
    width: 60%;
  }
  .top-bar .burger-btn__bars::before {
    top: 45px;
    width: 30%;
  }
  .top-bar .logo img {
    top: 50px;
    left: 50px;
    height: 80px;
    width: 80px;
  }
  .nav__item {
    font-size: 3rem;
  }
  .aboutus__icon a i {
    font-size: 5.4rem;
  }
  .aboutus__icon a p {
    font-size: 2.8rem;
  }
  .aboutus__title--icons {
    font-size: 2.8rem;
  }
  .pricing__option-img {
    max-width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .header__heading {
    font-size: 4rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .header__box {
    position: relative;
    bottom: 1em;
    padding: 5em 7em;
  }
  .header__circleBox--circle {
    height: 100px;
    width: 100px;
  }
  .header__circleBox--circle--smaller {
    height: 75px;
    width: 75px;
  }
  .header__circleBox--circle--smaller .fa-circle-down {
    font-size: 5rem;
    color: #e7ecef;
  }
  .top-bar .burger-btn {
    top: 50px;
    right: 50px;
  }
  .top-bar .burger-btn__box {
    width: 50px;
    height: 40px;
  }
  .top-bar .burger-btn__bars::after {
    top: 17px;
    width: 60%;
  }
  .top-bar .burger-btn__bars::before {
    top: 36px;
    width: 30%;
  }
  .top-bar .logo img {
    top: 50px;
    left: 50px;
    height: 70px;
    width: 70px;
  }
  .nav__item {
    font-size: 3rem;
  }
  .aboutus__icon a i {
    font-size: 5rem;
  }
  .aboutus__icon a p {
    font-size: 2.4rem;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-24 0:3:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=style.css.map */