$main-color: #274c77;
$main-text: #e7ecef;
$secondary-color: #354f52;
$pure-white: rgb(255, 255, 255);
$light-white: rgb(219, 216, 216);
$buttons-main-hover: #d0d6d9;

$hero-gradient: linear-gradient(
	45deg,
	rgba(12, 24, 38, 0.8),
	rgba(10, 19, 29, 0.8)
);
$back-gradient: linear-gradient(
	45deg,
	rgb(31, 61, 96),
	rgb(33, 63, 99)
);

