$main-color: #366eae;
$main-color-dark: rgb(12, 23, 41);
$main-color-light: #8db1db;
$main-text: #e7ecef;
$pure-white: rgb(255, 255, 255);
$buttons-main-hover: #d0d6d9;

$hero-gradient: linear-gradient(
	45deg,
	rgba(6, 13, 20, 0.4),
	rgba(5, 9, 14, 0.7)
);

$back: linear-gradient(45deg, rgb(12, 24, 39), rgb(12, 23, 41));

$back-alfa: linear-gradient(
	45deg,
	rgba(7, 14, 23, 0.98),
	rgba(6, 13, 22, 0.96)
);

$header-back: linear-gradient(45deg, rgba(6, 13, 20), rgba(5, 9, 14));

$header-back-alfa: linear-gradient(
	45deg,
	rgba(6, 13, 20, 0.7),
	rgba(5, 9, 14, 0.8)
);
