@use './colors';

@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: colors.$main-text;
	transition: width 0.3s;
}

@mixin heroIMG($bgImg) {
	background-image: colors.$hero-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
