@use './colors' as colors;
@use './components' as components;
@use './mixins' as mixins;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	background-image: colors.$back;
	color: colors.$main-text;
}

hr {
	color: colors.$main-text;
	margin-bottom: 70px;
}

.top-bar {
	// BURGER BUTTON
	.burger-btn {
		position: fixed;
		top: 30px;
		right: 30px;
		padding: 1em;
		background: none;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
		background-image: colors.$header-back;
		cursor: pointer;
		z-index: 1000;

		&:hover {
			.burger-btn__bars,
			.burger-btn__bars::before,
			.burger-btn__bars::after {
				width: 100%;
			}
		}

		&:focus {
			outline: none;
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			@include mixins.burgerBtn;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 13px;
				width: 60%;
			}

			&::before {
				top: 27px;
				width: 30%;
			}
		}
	}

	// LOGO
	.logo {
		img {
			position: fixed;
			top: 30px;
			left: 30px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			transform: rotate(0);
			transition: transform 5s linear;
			z-index: 100;
		}

		img:hover {
			transform: rotate(360deg);
		}
	}
}

//NAVIGATION
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-image: colors.$back-alfa;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.7em 2em;
		font-size: 2.2rem;
		text-decoration: none;
		color: colors.$main-text;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			content: '';
			background-color: colors.$main-text;
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}

	&__line {
		padding: 0;
		height: 1px;
		width: 100%;
		background-color: colors.$main-text;

		&--up {
			margin-bottom: 1em;
		}

		&--down {
			margin-top: 1em;
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(800%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	text-align: center;
	color: colors.$main-text;
	@include mixins.heroIMG('../img/header_640.jpeg');
	background-attachment: scroll;
	z-index: 5;
	// overflow: hidden;

	&__box {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
		background-image: colors.$header-back-alfa;
	}

	&__heading {
		font-size: 4.8rem;
		letter-spacing: 1px;
	}

	&__text {
		font-size: 2.6rem;
		letter-spacing: 1px;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: colors.$main-text;
		border: none;
		border-radius: 15px;
		color: colors.$main-color-dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: colors.$buttons-main-hover;
		}
	}

	&__circleBox {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		width: 180px;
		height: 180px;

		&--circle {
			position: absolute;
			bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			&--smaller {
				display: flex;
				justify-content: center;
				align-items: center;
				border: 0.5px solid colors.$main-text;
				border-radius: 50%;
				box-shadow: 0 0 2px colors.$main-text;

				.fa-circle-down {
					font-size: 5rem;
					color: colors.$main-text;
					transition: color 0.3s linear;
				}

				.fa-circle-down:hover {
					color: colors.$main-color-mid;
				}
			}
		}
	}
}

//MAIN
//ABOUTUS
.aboutus {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;

		&--icons {
			margin-top: 0.5em;
			margin-bottom: 2em;
		}
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
	}

	&__title {
		margin-bottom: 0.5em;
		color: colors.$main-color;

		&--icons {
			margin-top: 1em;
			width: 100%;
			text-align: center;
			font-size: 2.8rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: colors.$main-color;
		}
	}

	&__text {
		font-size: 1.2rem;
		font-weight: 100;
	}

	&__icons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	&__icon {
		margin-top: 1em;
		width: 33%;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-decoration: none;
			color: colors.$main-text;
			margin: 0 1em;

			i {
				color: colors.$main-text;
				margin-bottom: 0.5em;
				font-size: 5rem;
				transition: color 0.3s;
			}

			p {
				font-size: 2.4rem;
				transition: color 0.3s;
			}
		}

		&:hover i,
		&:hover p {
			color: colors.$main-color-light;
		}
	}
}

//PRICING
.pricing {
	position: relative;
	@include mixins.heroIMG('../img/dj_1920.jpeg');
	overflow: hidden;

	.section-heading {
		color: colors.$main-color-light;
	}

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px #2e2e2e2e;
		background-image: colors.$back;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
		overflow: hidden;

		&-img {
			width: 100%;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-info {
			padding: 2em;
			background-image: colors.$back;
			z-index: 10;
		}

		&-heading {
			margin-bottom: 0.5em;
			font-size: 2.4rem;
			font-weight: bold;
		}

		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3rem;
			color: colors.$main-text;
		}

		&-btn {
			margin-top: 1em;
			padding: 0.8em;
			width: 100%;
			color: colors.$main-color-dark;
			background-color: colors.$main-color-mid;
			border-radius: 15px;
			border: none;
			cursor: pointer;

			&::before {
				background-color: colors.$main-color-mid-hover;
			}
		}
	}
}
//REVIEWS
@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.498),
			inset 1px 1px 2px colors.$main-text;
		cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}

	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: colors.$main-color-mid;
	}

	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
	}
}

//CONTACT
.contact {
	position: relative;
	background-image: colors.$hero-gradient;
	overflow: hidden;

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		@include mixins.contactForm;
	}

	&__form-textarea {
		@include mixins.contactForm;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: colors.$main-color-dark;
		border: none;
		border-radius: 15px;
		background-color: colors.$main-text;
		cursor: pointer;

		&::before {
			background-color: colors.$buttons-main-hover;
		}
	}
}

//FOOTER
.footer {
	color: colors.$main-text;
	background-color: colors.$back;

	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;
	}

	&__box-desktop {
		display: none;
	}

	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
	}

	&__box-social {
		margin: 2em 0 1em;
	}

	&__box-link {
		padding: 0 0.3em;
		font-size: 3.6rem;
		color: colors.$main-text;
		text-decoration: none;
		transition: color .3s;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			color: colors.$main-color-light;
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

// MEDIA
@media (min-width: 320px) {
	.header {
		&__heading {
			font-size: 2.4rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__btn {
			font-size: 1.2rem;
		}

		&__box {
			padding: 2em;
		}

		&__circleBox {
			&--circle {
				height: 80px;
				width: 80px;

				&--smaller {
					height: 60px;
					width: 60px;

					.fa-circle-down {
						font-size: 4rem;
						color: colors.$main-text;
					}
				}
			}
		}
	}

	.nav {
		&__item {
			font-size: 2.4rem;
		}
	}

	.aboutus {
		&__icon {
			a {
				i {
					font-size: 4rem;
				}

				p {
					font-size: 0.8rem;
				}
			}
		}

		&__title {
			&--icons {
				font-size: 1.6rem;
			}
		}
	}
}

@media (min-width: 375px) {
	.header {
		&__heading {
			font-size: 2.8rem;
		}

		&__btn {
			font-size: 1.4rem;
		}

		&__box {
			padding: 2em 2.5em;
			margin: 2.5em;
		}
	}
}

@media (min-width: 576px) {
	.aboutus {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.pricing {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&-img {
				margin: 0;
				max-width: 50%;
				height: auto;
				object-fit: cover;

				&--right {
					order: 1;
					justify-self: flex-end;
					// margin-left: 5em;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&-heading {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
			}

			&-btn {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__heading {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.8rem;
		}

		&__box {
			padding: 3em 4em;
		}

		&__circleBox {
			&--circle {
				height: 100px;
				width: 100px;

				&--smaller {
					height: 75px;
					width: 75px;

					.fa-circle-down {
						font-size: 5rem;
						color: colors.$main-text;
					}
				}
			}
		}

		.side-block {
			display: block;
		}
	}

	.top-bar {
		.burger-btn {
			top: 50px;
			right: 50px;

			&__box {
				width: 60px;
				height: 50px;
			}

			&__bars {
				&::after {
					top: 22px;
					width: 60%;
				}

				&::before {
					top: 45px;
					width: 30%;
				}
			}
		}

		.logo {
			img {
				top: 50px;
				left: 50px;
				height: 80px;
				width: 80px;
			}
		}
	}

	.nav {
		&__item {
			font-size: 3.6rem;
		}
	}

	.aboutus {
		&__text {
			font-size: 1.8rem;
		}

		&__icon {
			a {
				i {
					font-size: 5rem;
				}

				p {
					font-size: 1.6rem;
				}
			}
		}
	}

	.footer {
		&__boxes {
			display: flex;
			justify-content: space-around;
		}

		&__box-desktop {
			display: block;
		}

		&_box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}

		&__box-title {
			font-size: 2.4rem;
		}

		&__box-list {
			list-style: none;
		}

		&__box-list-item {
			margin-bottom: 1em;

			a {
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 60px;
		right: 60px;
	}

	.logo {
		top: 60px;
		right: 60px;
	}

	.header {
		background-image: colors.$hero-gradient, url('../img/header_1920.jpeg');

		&__heading {
			font-size: 4.6rem;
		}
	}

	.aboutus {
		&__box {
			margin: 5em 0;

			&--text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}

		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}
	}

	.pricing {
		&__option {
			&-img {
				max-width: 50%;
				height: auto;
				object-fit: cover;
			}

			&-text {
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	.header {
		&__heading {
			font-size: 4.6rem;
		}

		&__text {
			font-size: 3rem;
		}

		&__btn {
			font-size: 2rem;
		}

		&__box {
			position: relative;
			bottom: 1em;
			padding: 3em 5em;
		}

		&__circleBox {
			&--circle {
				&--smaller {
					height: 100px;
					width: 100px;

					.fa-circle-down {
						font-size: 6rem;
						color: colors.$main-text;
					}
				}
			}
		}
	}

	.top-bar {
		.burger-btn {
			top: 50px;
			right: 50px;

			&__box {
				width: 60px;
				height: 50px;
			}

			&__bars {
				&::after {
					top: 22px;
					width: 60%;
				}

				&::before {
					top: 45px;
					width: 30%;
				}
			}
		}

		.logo {
			img {
				top: 50px;
				left: 50px;
				height: 80px;
				width: 80px;
			}
		}
	}

	.nav {
		&__item {
			font-size: 3rem;
		}
	}

	.aboutus {
		&__icon {
			a {
				i {
					font-size: 5.4rem;
				}

				p {
					font-size: 2.8rem;
				}
			}
		}

		&__title {
			&--icons {
				font-size: 2.8rem;
			}
		}
	}

	.pricing {
		&__option {
			&-img {
				max-width: 50%;
				height: auto;
				object-fit: cover;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__heading {
			font-size: 4rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.6rem;
		}

		&__box {
			position: relative;
			bottom: 1em;
			padding: 5em 7em;
		}

		&__circleBox {
			&--circle {
				height: 100px;
				width: 100px;

				&--smaller {
					height: 75px;
					width: 75px;

					.fa-circle-down {
						font-size: 5rem;
						color: colors.$main-text;
					}
				}
			}
		}
	}

	.top-bar {
		.burger-btn {
			top: 50px;
			right: 50px;

			&__box {
				width: 50px;
				height: 40px;
			}

			&__bars {
				&::after {
					top: 17px;
					width: 60%;
				}

				&::before {
					top: 36px;
					width: 30%;
				}
			}
		}

		.logo {
			img {
				top: 50px;
				left: 50px;
				height: 70px;
				width: 70px;
			}
		}
	}

	.nav {
		&__item {
			font-size: 3rem;
		}
	}

	.aboutus {
		&__icon {
			a {
				i {
					font-size: 5rem;
				}

				p {
					font-size: 2.4rem;
				}
			}
		}
	}
}
