@use './colors' as colors;
@use './components' as components;
@use './mixins' as mixins;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	background-image: colors.$back;
}

.top-bar {
	// BURGER BUTTON
	.burger-btn {
		position: absolute;
		top: 30px;
		right: 30px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		border-radius: 15px;
		background-image: colors.$header-back-alfa;
		cursor: pointer;
		z-index: 1000;

		&:hover {
			.burger-btn__bars,
			.burger-btn__bars::before,
			.burger-btn__bars::after {
				width: 100%;
			}
		}

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			@include mixins.burgerBtn;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 13px;
				width: 60%;
			}

			&::before {
				top: 27px;
				width: 30%;
			}
		}
	}

	// LOGO
	.logo {
		img {
			position: absolute;
			top: 30px;
			left: 30px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			animation: rotation 10s linear infinite;
			z-index: 100;
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

//NAVIGATION
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-image: colors.$back-alfa;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.7em 2em;
		font-size: 2.8rem;
		text-decoration: none;
		color: colors.$main-text;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			content: '';
			background-color: colors.$main-text;
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}

	&__line {
		padding: 0;
		height: 1px;
		width: 100%;
		background-color: colors.$main-text;

		&--up {
			margin-bottom: 2em;
		}

		&--down {
			margin-top: 2em;
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(800%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 95vh;
	text-align: center;
	color: colors.$main-text;
	@include mixins.heroIMG('../img/header_640.jpeg');
	background-attachment: scroll;
	// overflow: hidden;

	&__box {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 3em;
		padding: 3em;
		border: 1px solid colors.$main-text;
		border-radius: 15px;
		background-image: colors.$header-back-alfa;
	}

	&__heading {
		font-size: 4.8rem;
		letter-spacing: 1px;
	}

	&__text {
		font-size: 2.6rem;
		letter-spacing: 1px;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: colors.$main-text;
		border: none;
		border-radius: 8px;
		color: colors.$main-color;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: colors.$buttons-main-hover;
		}
	}

	&__circleBox {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0.3em;
		margin: 0 5em;
		width: 180px;
		height: 180px;

		&--circle {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 120px;
			width: 120px;
			border: 0.5px solid colors.$main-text;
			border-radius: 50%;
			box-shadow: 1px 1px 2px colors.$main-text;

			&--smaller {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 90px;
				width: 90px;
				border: 0.5px solid colors.$main-text;
				border-radius: 50%;

				.fa-circle-down {
					font-size: 5rem;
					color: colors.$main-text;
				}
			}
		}
	}
}

// MEDIA
@media (min-width: 320px) {
	.header {
		height: 100vh;

		&__heading {
			font-size: 2.4rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__btn {
			font-size: 1.2rem;
		}

		&__box {
			padding: 2em;
			margin: 2em;
		}

		&__circleBox {
			&--circle {
				height: 100px;
				width: 100px;

				&--smaller {
					height: 70px;
					width: 70px;

					.fa-circle-down {
						font-size: 4rem;
						color: colors.$main-text;
					}
				}
			}
		}
	}

	.nav {
		&__item {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 375px) {
	.header {
		height: 100vh;

		&__heading {
			font-size: 2.8rem;
		}

		&__btn {
			font-size: 1.4rem;
		}

		&__box {
			padding: 2.5em;
			margin: 2.5em;
		}
	}
}

@media (min-width: 768px) {
	.side-block {
		height: 50px;
		width: 45%;
	}

	.header {
		height: 100vh;
		&__heading {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.8rem;
		}

		&__box {
			padding: 3.6em;
		}

		&__circleBox {
			&--circle {
				height: 120px;
				width: 120px;

				&--smaller {
					height: 90px;
					width: 90px;

					.fa-circle-down {
						font-size: 5rem;
						color: colors.$main-text;
					}
				}
			}
		}
	}

	.top-bar {
		.burger-btn {
			top: 50px;
			right: 50px;
		}

		.logo {
			img {
				top: 50px;
				left: 50px;
			}
		}
	}

	.nav {
		&__item {
			font-size: 3.6rem;
		}

	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 60px;
		right: 60px;
	}

	.logo {
		top: 60px;
		right: 60px;
	}

	.header {
		height: 95vh;
		background-image: colors.$hero-gradient, url('../img/header_1920.jpeg');

		&__heading {
			font-size: 4.6rem;
		}
	}
}

@media (min-width: 1024px) {
	.header {
		&__heading {
			font-size: 5rem;
		}

		&__text {
			font-size: 2.4rem;
		}

		&__btn {
			font-size: 2rem;
		}

		&__box {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__heading {
			font-size: 4.6rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.4rem;
		}

		&__box {
			font-size: 1.2rem;
		}
	}

	.nav {
		&__item {
			font-size: 2.4rem;
		}

	}
	
}
